<nav class="navbar">
  <div class="nav-left">
    <!-- <form action="/search" method="GET" class="search-form">
      <input type="text" name="query" placeholder="Search for friends.." />
    </form> -->
  </div>

  <div class="nav-right">
    <a href="/login" class="main-link">Log In</a>
    <a href="/signUp" id="btn-signUp" class="btn-link">Sign Up</a>
  </div>
</nav>