<nav class="navbar">
    <div class="nav-left">
      <form id="search-form" class="search-form">
        <input type="text" id="user-search" name="q" placeholder="Search for friends.." autocomplete="off" />
      </form>
      <ul id="search-results" class="dropdown"></ul>
    </div>
  
    <div class="nav-right">
      <a href="/profile" class="nav-name"><%= user.username %></a>
    </div>
  </nav>
  