<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>New Account</title>
</head>
<body>
    <h1 class="created-h1"> Account has been created, please return to sign in!</h1>
    
</body>
</html>