<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    
    <title>Home</title>
</head>
<body>
    <div>
        <%- include("partials/navbar") %>
    </div>
    <div class="main-title">
        SYNCHED
    </div>
    <div class ="main-para">
        <h2>Designed to connect all music lovers, regardless of the platform. Get synced.</h2>
    </div>

<script src="/scripts/script.js"></script> 
<!-- this is working!! -->


</body>
</html>