<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>Profile</title>
</head>
<body>
    <%- include("partials/navbarLoggedIn") %>

    <h1> here is the profile page

        - edit top songs/playlist, view friends? change profile picture, change username
    </h1>

    <div class="home-friends-div">

    </div>
    <script src="/scripts/searchBar.js"></script>

</body>
</html>