<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sign Up</title>
</head>
<body>
    <form action="/signUp">

        <div>
            <label> Email</label>
            <input type="text" id="email" name="email" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
    </form>
</body>
</html>