<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body class="signUp-body">
    <div>
        <%- include("partials/navbar") %>
    </div>
    <h1> Sign Up
         </h1>
    <form method="POST" action="/signUp">
        <div>
            <label>First Name:</label>
            <input name="firstName" type="text" required>
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" name="lastName" required>
        </div>
        <div>
            <label> Email:</label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label>Username:</label>
            <input type="text" name="username" required>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" required>
        </div>
       <button id="signUp-submit">Submit</button>
    </form>

    <script src="/script/account.js"></script>
</body>
</html>