body{
    margin:0;
    background-color:#1C1F21;
    color: #edf2f4;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 5px;
    font-family: 'Azeret Mono', monospace;
}

.main-title{
    text-align: center;
    padding: 30px 0;
    font-size: 6em;
}
.title{
    background: linear-gradient(90deg, #F6AE2D, #8F0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; 
}

.main-para{
    text-align: center;
    padding: 0 200px 0 200px
}

.main-link{
    color:#edf2f4;
    margin-right: 5px;
    text-decoration: none;
}


label{
    width: 150px;
    display: inline-block;
}
.signUp-body{
    text-align: center;
    display: flex;
}

.created-h1{
    color:white;
    text-align: center;
}

.login-body{
    text-align: center;
    display: flex;
}

.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8F0000;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .btn-link:hover {
    background-color: #7A0000;
  }

  button{
    background-color: #8F0000;
    border-radius: 33px;
    color: white;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #080F14;
  }
  
  .nav-left {
    flex: 1;
    justify-content: flex-start;
  }
  
  .nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .search-form input {
    padding: 6px;
    width: 450px;
    height: 20px;
    align-items: baseline;
    border-radius: 33px;
    background-color: #1C1F21;
    color: white;
  }

  .dropdown {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: 200px;
    display: none;
    color: #080F14;
  }
  
  .dropdown li {
    padding: 8px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #eee;
  }
  